<%- include('partial/_header') %> 
<%- include('partial/_nav')  %> 
<section class="py-24 px-16">
    <div class="text-white py-2">
        <h1 class="text-4xl font-bold ">Form Inaktif</h1>
    </div>
<%- include('partial/_form')  %> 

</section>
<%- include('partial/_footer')  %> 