<!DOCTYPE html>
<html lang="en" class="bg-indigo-500">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@1.1.11/vanilla-dataTables.min.css">
    <link rel="stylesheet" href="/css/generated.css">
    <title><%= title %> </title>
    <script src="js/moment-with-locales.js"></script>

    <style>
        .closed {
            border: none;
            height: 0;
            padding: 0;
        }
    </style>
</head>
<body class="w-screen bg-gradient-to-t from-indigo-900 to-indigo-500 min-h-screen overflow-x-hidden">
    