<section class="py-10 pt-24 px-9 min-h-screen flex flex-col gap-5">
    <div class="bg-indigo-500 text-indigo-50 py-4 px-4 border-l-4 border-indigo-300 shadow-lg">
        <h1 class="text-4xl font-bold tracking-wider "><%= title %> </h1>
    </div>