<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@1.1.11/vanilla-dataTables.min.css">
    <script src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="../../client/css/generated.css">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
    <title>Document</title>
</head>
<body class="w-screen bg-gradient-to-t from-indigo-900 to-indigo-500 min-h-screen overflow-x-hidden">
    <!-- ! Container -->
    <nav id="header" class="fixed w-full z-30 top-0 text-white bg-indigo-500 shadow-2xl">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
            <div class="pl-4 flex items-center">
            <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                <!--Icon from: http://www.potlabicons.com/ -->
                <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
                <rect fill="#2a2a31" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)" />
                <path
                    class="plane-take-off"
                    d=" M 510.7 189.151 C 505.271 168.95 484.565 156.956 464.365 162.385 L 330.156 198.367 L 155.924 35.878 L 107.19 49.008 L 211.729 230.183 L 86.232 263.767 L 36.614 224.754 L 0 234.603 L 45.957 314.27 L 65.274 347.727 L 105.802 336.869 L 240.011 300.886 L 349.726 271.469 L 483.935 235.486 C 504.134 230.057 516.129 209.352 510.7 189.151 Z "
                />
                </svg>
                DASHBOARD
            </a>
            </div>
            <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                <a class="inline-block py-2 px-4 text-indigo-100 font-bold no-underline" href="#">Inaktif</a>
                </li>
                <li class="mr-3">
                <a class="inline-block text-indigo-100 no-underline hover:text-indigo-800 hover:text-underline py-2 px-4" href="#">Dashboard</a>
                </li>
                <li class="mr-3">
                <a class="inline-block text-indigo-100 no-underline hover:text-indigo-800 hover:text-underline py-2 px-4" href="#">link</a>
                </li>
            </ul>
            <button
                id="navAction"
                class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
                Profile
            </button>
            </div>
        </div>
        <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>

    <section class="py-24 px-16">
        <div class="text-white py-2">
            <h1 class="text-4xl font-bold ">Form Inaktif</h1>
        </div>
<!-- ! FORM  -->
        <div class="w-full bg-white bg-opacity-20 rounded-2xl px-14 py-8 mt-6">
            <form action="" class=" grid grid-cols-2 gap-4">
                <div class=" px-8 ">
                    <label for="" class="t_label">No Arsip</label>
                    <input type="text" class="t_input" placeholder="No Arsip">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Tanggal Input</label>
                    <input type="date" class="t_input">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Pencipta Arsip</label>
                    <input type="text" class="t_input" placeholder="Pencipta Arsip">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Kode Klasifikasi</label>
                    <input type="text" class="t_input" placeholder="Kode Klasifikasi">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Unit Pengolah</label>
                    <input type="text" class="t_input" placeholder="Unit Pengolah">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Bulan / Tahun</label>
                    <div class="flex">
                        <input type="text" class="t_input w-1/4" placeholder="Bulan">
                        <input type="text" class="t_input w-1/5 ml-5" placeholder="Tahun">
                    </div>
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Kelengkapan</label>
                    <input type="text" class="t_input" placeholder="Kelengkapan">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Jenis Media</label>
                    <input type="text" class="t_input" placeholder="Media">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Lokasi Arsip</label>
                    <input type="text" class="t_input" placeholder="Lokasi Arsip">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Tingkat Perkembangan</label>
                    <select name="" id="" class="t_input">
                        <option value="">Asli</option>
                        <option value="">Tembusan</option>
                        <option value="">Fotocopy</option>
                    </select>
                </div>
                <div class="px-8">
                    <label class="t_label" for="">Nomor Boks</label>
                    <input type="text" class="t_input" placeholder="Nomor Boks">
                </div>
                <div class="px-8">
                    <label class="t_label" for="">File</label>
                    <input type="file" class="t_input">
                </div>
                <div class="px-8 col-span-2">
                    <label class="t_label" for="">Uraian</label>
                    <textarea type="text" class="t_input" style="min-height: 25vh;" placeholder="Uraian"></textarea>
                </div>
                <div class="col-span-2 flex items-center justify-center mt-4">
                    <input type="submit" class="w-28 h-10 rounded-md bg-indigo-300 border-2 border-indigo-800 hover:bg-indigo-800 hover:text-white" value="Submit">
                </div>
            </form>
        </div>
    </section>

</body>
</html>