<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mobius1/vanilla-Datatables@1.1.11/vanilla-dataTables.min.css">
    <script src="https://unpkg.com/vanilla-datatables@latest/dist/vanilla-dataTables.min.js"></script>
    <link rel="stylesheet" href="../../node_modules/tailwindcss/dist/tailwind.min.css">
    <title>Document</title>
</head>
<body class="w-screen bg-red-900">
    <!-- ! Container -->
    <nav id="header" class="fixed w-full z-30 top-0 text-white">
        <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
            <div class="pl-4 flex items-center">
            <a class="toggleColour text-white no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                <!--Icon from: http://www.potlabicons.com/ -->
                <svg class="h-8 fill-current inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005">
                <rect fill="#2a2a31" x="16.539" y="425.626" width="479.767" height="50.502" transform="matrix(1,0,0,1,0,0)" />
                <path
                    class="plane-take-off"
                    d=" M 510.7 189.151 C 505.271 168.95 484.565 156.956 464.365 162.385 L 330.156 198.367 L 155.924 35.878 L 107.19 49.008 L 211.729 230.183 L 86.232 263.767 L 36.614 224.754 L 0 234.603 L 45.957 314.27 L 65.274 347.727 L 105.802 336.869 L 240.011 300.886 L 349.726 271.469 L 483.935 235.486 C 504.134 230.057 516.129 209.352 510.7 189.151 Z "
                />
                </svg>
                LANDING
            </a>
            </div>
            <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
            </div>
            <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="#">Active</a>
                </li>
                <li class="mr-3">
                <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">link</a>
                </li>
                <li class="mr-3">
                <a class="inline-block text-black no-underline hover:text-gray-800 hover:text-underline py-2 px-4" href="#">link</a>
                </li>
            </ul>
            <button
                id="navAction"
                class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
            >
                Action
            </button>
            </div>
        </div>
        <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
    </nav>
    <section class="pt-24 px-10">
        <div class="text-white">
            <h1 class="text-2xl font-bold ">Input data</h1>
        </div>
            <div>
                    <table class="text-white">
                        <thead>
                            <tr>
                                <th data-type="date" data-format="ISO_8601">ISO 8601</th>
                                <th data-type="date" data-format="MYSQL">MySQL</th>
                                <th>RFC 2822</th><!-- Type and format defined in the js -->
                                <th>MMM DD, YYYY</th><!-- Type and format defined in the js -->
                                <th data-type="date" data-format="DD/MM/YYYY">DD/MM/YYYY</th>
                                <th data-type="date" data-format="MM/DD/YY">MM/DD/YY</th>
                                <th data-type="date" data-format="UNIX">UNIX</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2013-06-27T19:10:21-07:00</td>
                                <td>1994-12-06 22:56:36</td>
                                <td>Tue, 14 Mar 1995 07:11:46 -0800</td>
                                <td>Dec 8, 2001</td>
                                <td>19/10/2016</td>
                                <td>07-23-12</td>
                                <td>853102101</td>
                            </tr>
                            <tr>
                                <td>1980-09-12T02:50:23-07:00</td>
                                <td>1997-11-23 07:06:45</td>
                                <td>Mon, 21 Nov 2005 04:23:35 -0800</td>
                                <td>Aug 19, 1997</td>
                                <td>27/05/1981</td>
                                <td>01-13-17</td>
                                <td>713671686</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
    </section>
    <script>
        var datatable = new DataTable('table', {
	// The other columns are defined directly in the HTML
	columns: [
		{
			select: 2,
			type: "date",
			format: "RFC_2822"
		},		
		{
			select: 3,
			type: "date",
			format: "MMM DD, YYYY"
		}
	]
});
    </script>
</body>
</html>